/* Path: assets\css\main.css */
@import 'variables.css';

body {
	display: flex;
	position: fixed;
	flex-direction: row-reverse;
	background-color: var(--purple);
	color: var(--white);
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat';
}

.page-content {
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	flex: 2 0 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-content div:first-child {
	display: none;
	height: fit-content;
}

.page-content .content-active {
	display: block;
}

.page-nav {
	padding: 1rem 15rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 100%;
}

.page-nav .nav-item.nav-active {
	background-color: red;
}

.tagline {
	font-size: 1.5rem;
	font-family: QuantifyHeader;
}

.tagline .logo {
	display: flex;
	border-bottom: 1px solid var(--white);
	align-items: baseline;
	justify-content: space-between;
}

.tagline .logo .text {
	height: fit-content;
}

.tagline .logo .image {
	width: 20rem;
}

.services {
	padding: 5rem 0rem;
}
