/* Path: assets\css\main.css */
@import 'variables.css';

body {
	display: flex;
	position: fixed;
	flex-direction: row-reverse;
	background-color: var(--purple);
	color: var(--white);
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat';
}

/* Path: assets\css\page-content.css */
@import 'page-content.css';

/* Path: assets\css\page-nav.css */
@import 'page-nav.css';

/* Path: assets\css\tagline.css */
@import 'tagline.css';

/* Path: assets\css\services.css */
@import 'services.css';

/* Path: assets\css\contact-us.css */
@import 'contact-us.css';
