.services {
	padding: 5rem 0rem;
}

.service-cards {
	display: flex;
	position: relative;
	height: 50rem !important;
	width: 60rem;
}

.service-cards .card {
	height: 80%;
	width: 60%;
	color: black;
	position: absolute;
}

.service-cards .card:nth-child(1) {
	transform: rotateZ(-10deg) translate(-10%, 3%);
}

.service-cards .card:nth-child(2) {
	transform: translate(45%, 2%);
	z-index: 10;
}

.service-cards .card:nth-child(3) {
	transform: rotateZ(10deg) translate(110%, -11%);
}
