/* Path:  assets\css\variables.css */
:root{
	--purple: #262261;
	--pink: #fe3d71;
	--white: #ffffff;
	--dark-blue: #162048;
	--green: #47cfad;

	/* Scrollbar */
	--size: 5px;
	--thumb: none;
	--thumb-color: #fff;
	--thumb-radius: 10px;
	--track-color: transparent;
	--track-radius: 10px;
	--scroll-size: 5px;
	--scroll-radius: 10px;
	--scroll-track: rgb(255 255 255 / 10%);
	--scroll-thumb-color: #fff;
}

@font-face {
	font-family: QuantifyHeader;
	src: url('../fonts/Quantify.ttf');
}
